#marquee {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
  background-color: #263c97;
  color: white;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
}
.myMarquee {
  height: 50px;
  line-height: 24px;
}
